html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	margin-bottom: 10px;
    border-bottom: 1px dashed #1d97d2;
}


/*
 * Styles for the deck of cards
 */

 header{
 	padding:30px 0 15px 0;
 }


.deck {
	width: 85%;
	/*background: #716F71;*/
	background: #c5c5c5;
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 3.7rem;
	width: 3.7rem;
	margin: 0.2rem 0.2rem;
	background-color: #0f1e29;
	background-image: url('../img/logo.png');
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	/*background: #02b3e4;*/
	background: #fff;
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.show {
	font-size: 33px;
}
.deck img{
	opacity: 0;
	max-width:100%;
	-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;
}
.deck .card.show img{
	opacity: 1;
}
.deck .card.match {
	cursor: default;
	/*background: #E5F720;*/
	background:#fff;
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}
.deck .card.match img{
	opacity: 0.9 !important;
}
.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	/*background: #e2043b;*/
	background:#fff;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}


/*
 * Styles for the Score Panel
 */


.score-panel {
	text-align: left;
	margin-bottom: 20px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

.fa-star {
	color: #FFD700;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}


/*
 * Styles for congratulations modal
 */


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 5px;
}

/*************************oq page css*******************/
section.qrimg {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.qrimg img {
    width: 80%;
}



/************************form page css************************/
body.bodyouter {
    /*background: -webkit-linear-gradient(bottom,#0250c5,#d43f8d);*/
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(228,47,49,1)), color-stop(100%, rgba(15,29,40,1)));

}
.form-outer {
    width: 400px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        padding: 10px 40px 60px;
}
form.forminner {
    padding: 50px 0px 0px;
        width: 100%;
}
button.btn.btn-primary {
    display: block;
    width: 100%;
    background: #e42f31;
    border-color: #e42f31;
    text-transform: capitalize;
        font-size: 21px;
}
.forminner .form-group input {
    font-size: 18px;
    line-height: 1;
    color: #000000;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 3px;
}


   ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #000 !important; } ::-moz-placeholder { /* Firefox 19+ */ color: #000 !important; } :-ms-input-placeholder { /* IE 10+ */ color: #000 !important; } :-moz-placeholder { /* Firefox 18- */ color: #000 !important; }


/* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}


/****** Media queries
***************************/


@media (max-width: 320px) {
	.deck {
		width: 85%;
	}

	.deck .card {
		height: 4.7rem;
		width: 4.7rem;
	}
}


/* For Tablets and larger screens
****************/

@media (min-width: 768px) {
	.container {
		font-size: 22px;
	}

	.deck {
		/*width: 660px;*/
		width: 750px;
		height: 680px;
	}

	.deck .card {
		/*height: 125px;
		width: 125px;*/
		height: 140px;
		width: 140px;
	}

	.popup {
		width: 60%;
	}

}

@media(max-width: 768px){
	.qrimg img {
	    width: 60%;
	}

}

@media(max-width: 500px){
	.qrimg img {
	    width: 80%;
	}

}


/************css for tnc popup**********/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 96%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup .close {
position: absolute;
    top: 0px;
    right: 15px;
    transition: all 200ms;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
a.button.tncbtn {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: #333333;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
}
.tnclist{
            padding:0px;
        }

.tnclist li{
            list-style-type: none;
            font-size: 20px;
        }

/****************** tnc popup css ends**************/

.logo-header{
	width: 60%;
	margin: 0 auto;
}
.aligh-right{
	float: right;
}
.aligh-left{
	float: left;
}
.game-bglogin.bodyouter {
	    background: url(http://lifestylestore.prolineindia.com/img/game-bg.jpg);
	}
.game-bg {
	    background: url(http://lifestylestore.prolineindia.com/img/game-bg1.png);
	}

@media(max-width: 768px){
	.form-outer {
	    width: 90%;
	}
}

@media(max-width: 600px){
	.logo-header {
	    width: 98%;
	}
}

@media(max-width: 414px){
	.logo-header img {
	    width: 27%;
	}
}
.logo-header img.aligh-right {
width: 15%;
}
